<div class="kpu-wrap">
  <%= render 'commons/kpu_header'%>

  <section class="kpu-section">

    <article class="kpu-article-left"></article>
    <section class="kpu-section-middle">

      <article class="middle-article-top"></article>
      <section class="middle-section-down">

        <article class="down-article-left"></article>
        <article class="down-article-right"></article>
      </section>

    </section><!-- .kpu-siction-middle end -->

    <article class="kpu-article-right"></article>

    <section class="kpu-section-bottom">
      <article class="section-bottom-article"></article>
      <article class="section-bottom-article"></article>
      <article class="section-bottom-article"></article>
    </section>

  </section><!-- .kpu-section end -->
  <%= render 'commons/kpu_footer'%>
</div> <!-- .kpu-wrap end -->
