


<nav class="page-test-nav">
<ul class = "page-test-header">
  <li>강의</li>
  <li>과제</li>
  <li>질문</li>
  <li>  게시판</li>
  <li>놀이터</li>
  <li>아이디어톤</li>
</ul>
</nav>

<br><br><br>
<form action="">
  <div class="selection">
    <span>관심음식</span>
    <div class="like-food-select">
    <select name="like_food" id="">
      <option value="yupduck">엽떡</option>
      <option value="pizza">피자</option>
      <option value="ahgendz">하겐다즈</option>
    </select>
    </div>
  </div>
</form>